.blue
{
    background-color: rgb(27, 136, 190);
    height: 100px;
    width: 100px;
    position: relative;
    top: 350px;
    left: 700px;
}
.black
{
    background-color: rgb(34, 34, 34);
    height: 20px;
    width: 100px;
    position: absolute;
    top: 100px;
}
.green
{
    background-color: rgb(27, 190, 141);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 20px;
    left: 10px;
}
.red
{
    background-color: rgb(209, 88, 72);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 30px;
    left: 30px;
}