.lead
{
    float: left;
    width: calc( (100% - 60px) /3);
    margin-left: 10px;
    padding: 20px;
}
.one
{
    background-color: rgb(238, 238, 238);
    width: 400px;
    height: 500px;
    position: relative;
}
.free
{
    background-color: rgb(210, 210, 210);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    left: 70px;
    border: 3px  rgb(188, 188, 188);
    position: absolute;
    bottom: 100px;
    text-align: center;
}
.free h1
{
    margin-top: 100px;
}
.Basic
{
    background-color: rgb(57, 195, 250);
    height: 40px;
    width: 200px;
    text-align: center;
    color: white;
    position: absolute;
    top: 90px;
    left: 90px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.Basic h2{
    position: relative;
    bottom: 12px;

}
.hr
{ 
    background-color: rgb(57, 195, 250);
    width: 10px;
    height: 100px;
}
/*two*/
.two
{
    background-color: rgb(238, 238, 238);
    width: 400px;
    height: 500px;
    position: relative;
    float: left;
    overflow: hidden;
    left: 600px;
}
.free
{
    background-color: rgb(210, 210, 210);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    left: 70px;
    border: 3px  rgb(188, 188, 188);
    position: absolute;
    bottom: 100px;
    text-align: center;
}
.free h1
{
    margin-top: 100px;
}
.Basic
{
    background-color: rgb(57, 195, 250);
    height: 40px;
    width: 200px;
    text-align: center;
    color: white;
    position: absolute;
    top: 90px;
    left: 90px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.Basic h2{
    position: relative;
    bottom: 12px;
}
.hr
{
    background-color: rgb(57, 195, 250);
    height: 500px;
    width: 3px;
    margin-left: 30px;
    margin-left: 500px;
    text-align: center;
}
.hr p
{
    background-color:rgb(57, 195, 250); ;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    top: 220px;
    right: 15px;
    color: white;
}