div
{
    background-color: rgb(246, 246, 246);
    width: 100px;
    height: 100px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: inset 0px 0px 20px 10px rgb(154, 154, 154);
}