.red
{
    background-color: rgb(231, 119, 119);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: relative;
    margin-top: 30px;
    display: inline-block;
    margin-right: 60px;
}
.blue
{
    background-color: rgb(94, 164, 221);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    left: 25px;
    top: 10px;
    position: absolute;  
}
.gray
{
    background-color: rgb(233, 233, 233);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    left: 10px;
    border: 3px solid black;
    position: absolute;
    counter-increment: count;
}
.first
{
  content: counter(count);
  background-color: black;
  width: 30px;
  height: 25px;
  padding: 4px;
  padding-top: 10px;
  border-radius: 50%;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 55px;
  left: 30px;
}
p{
    text-align: center;
    margin-top: 40px;
}