*
{
  box-sizing: border-box;
}
.grid
{
  background-color: #ddd;
  margin: 20px auto;
  padding: 20px;
  width: 800px;
  height: 400px;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 60px 1fr;
  gap: 20px 10px;
}
.grid div
{
  background-color: rgb(82, 126, 135);
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.font
{
  padding-top: 100px;
}
