div
{
  background-color: rgb(228, 230, 232);
  width: 600px;
  height: 50px;
  caret-color: red;
  position: relative;
}
div::before
{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-image: linear-gradient(to right ,rgb(255, 97, 6) 50%,rgb(7, 139, 124) 50%);
}
h2
{
  padding:6px;
}
.one
{
  color: rgb(152, 150, 150);
}