.one
{
    text-align: center;
    background-color: rgb(208, 209, 210);
    font-size: 20px;
    padding: 20px;
    border: 2px solid rgb(255, 0, 0);
}
.two 
{
    margin: 10px 0px 0px 0px ;
    text-align: center;
    background-color: rgb(208, 209, 210);
    font-size: 20px;
    padding: 20px;
    border: 2px solid rgb(0, 255, 242);
    
}
p
{
    padding: inherit;
    border: inherit ;
}