.one
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300px;
    font-style: italic;
}
.two
{
   font-weight: 700px;
   font-family: 'Cairo', sans-serif;
}
.three
{
    font-weight: 400px;
    font-family: 'Cairo', sans-serif;
font-family: 'Jomhuria', cursive;
}