body
{
    background-image: url(photo.jpg);
    background-size: cover;
}
.assign-1-shape-1
{
  width: 400px;
  height: 400px;
  background-image: url(c.jpg);
  background-repeat: no-repeat;
}
.assign-1-shape-2
{
    width: 1500px;
    height: 1000px;
  background-image: url(c.jpg);
  background-repeat: repeat-x;
}
.assign-1-shape-3
{
  height: 1000px;
  
  background-image: url(c.jpg);
  background-repeat: repeat-y;
}
.assign-1-shape-4
{
    width: 1000px;
    height: 1000px;
    background-color: rgb(208, 166, 212);
    background-image: url(c.jpg);
    background-repeat: repeat;
}