.assign-1-shape-1
{
  width: 500px;
  background-color: blueviolet;
  
}
.assign-1-shape-2
{
  width: 500px;
  background-color: rgb(169, 114, 221);
}
.assign-1-shape-3
{
  width: 500px;
  background-color: rgb(208, 166, 212);
}
.assign-1-shape-4
{
  width: 500px;
  background-color: rgb(169, 114, 221 ,50%);
}
.assign-1-shape-5
{
  width: 500px;
  background-color: rgb(169, 114, 221 ,10%);
}