*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.layout
{
  background-color: aliceblue;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: 50px auto 50px;
  grid-template-areas: "header header header header header header header header header header "
   "section section section section section section section aside aside aside"
   "footer footer footer footer footer footer footer footer footer footer";
}

header
{
   background-color: rgb(78, 174, 211);
   grid-area: header;
   color: white;
   padding: 10px;
}
section
{
  background-color: rgb(255, 89, 0);
  grid-area: section;
  color: white;
   padding: 10px;
}
aside
{
  background-color: rgb(83, 94, 116);
  grid-area: aside;
  color: white;
   padding: 10px;
}
footer
{
  background-color: rgb(11, 114, 93);
  grid-area: footer;
  color: white;
   padding: 10px;
}
