.one::before
{
    display: inline-block;
}
.osama
{
    background-color: #dbdbdb;
    height: 30px;
    width: 350px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    position: relative;
}
.osama::after
{
    content: "";
    position: absolute;
    width: 5px;
    height: 50px;
    background-color: rgb(219, 101, 156);
    bottom: 1px;
    top: 0;
    right: 370px;
}
.osama::before
{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 10px;
    right: 375px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent rgb(219, 101, 156) transparent transparent;

}
h4
{
    background-color: #dbdbdb;
    width: 100px;
    height: 30px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    margin-right: 30px;
}
