p
{
    background-color: #dbdbdb;
    height: 30px;
    width: 350px;
    padding: 10px;
    text-align: center;
    position: relative;
    counter-increment: counter;
}
p::before
{
    content: "";
    position: absolute;
    height: 50px;
    width: 5px;
    left: 370px;
    top: 0px;
    bottom: 0px;
    background-color: rgb(255, 35, 35);
}
p::after
{
    content: counter(counter);
    position: absolute;
    width: 30px;
    background-color: rgb(255, 35, 35);
    top: 0;
    bottom: 0;
    height: 33px;
    color: white;
    padding-top: 17px;
    right: 340px;

}