div {
    margin: 20px auto;
    width: 300px;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;
    background-color: ???; /* Get The Background From Image */
    color: black;
  }