*
{
  box-sizing: border-box;
}
.grid {
  background-color: #ddd;
  padding: 20px;
  margin: 20px auto;
  width: 800px;
  height: 400px;
  display: grid;
  grid-template-columns: 8;
  gap: 10px;
}
.grid div
{
  background-color: rgb(60, 158, 244);
  color: white;
  text-align: center;
  font-weight: bold;
}
.one
{
  grid-column: 1/9;
}
.two
{
  grid-column: 1/6;
}
.three
{
  grid-column: 6/9;
}
.four
{
  grid-column: 1/3;
}
.five
{
  grid-column: 3/9;
  grid-row: span 3;
}
.six
{
  grid-column: 1/3;
}
.seven
{
  grid-column: 1/3;
}
.eight
{
  grid-column: 1/9;
}