.parent
{
    background-color: rgb(229, 229, 229);
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
:root
{
    --maincolor:rgb(71, 126, 140);
     --mainmarging:20px;
}
.one
{
    background-color: var(--maincolor,black);
    margin: var(--mainmarging);
    width: 150px;
    height: 30px;
    color: white;
    order: 6;
}
.two
{
    background-color: var(--maincolor,black);
    margin: var(--mainmarging);
    width: 150px;
    color: white;
    order: 5;
    align-self: stretch;
    text-align: center;
    padding-top: 40px;
}
.three
{
    background-color: var(--maincolor,black);
    margin: var(--mainmarging);
    width: 150px;
    height: 30px;
    color: white;
    order: 2;
}
.four
{
    background-color: var(--maincolor, black);
    margin: var(--mainmarging);
    width: 150px;
    padding-top: 40px;
    color: white;
    order: 3;
    align-self: stretch;
}
.five
{
    background-color: var(--maincolor,black);
    align-self: stretch;
    width: 150px;
    color: white;
    order: 4;
    margin-bottom: 30px;
}
.six
{
    background-color: var(--maincolor);
    align-self: stretch;
    width: 150px;
    padding-top: 40px;
    color: white;
    order: 1;
}

