.word
{
    width: 100px;
    background-color: brown;
    color: white;
    padding: 20px;
}
.titel2
{
    width: 280px;
    background-color: brown;
    color: white;
    padding: 23px;
}
.titel3
{
    min-width: 400px;
    max-width: 400px;
    background-color: brown;
    color: white;
    padding: 7px 5px 7px 5px;
    text-align: center;
}
.titel4
{
    margin-top: 20px;
    width: 400px;
    height: 100px;
    overflow: scroll;
    background-color: brown;
    color: white;
    padding: 7px 5px 7px 5px;
    text-align: center;
}