.page
{
    background-color: rgb(236, 236, 236);
    height: 420px;
    width: 650px;
}
.header
{
    display: inline-flex;
    
}
.logo
{
    margin-top: 18px;
    background-color: rgb(221, 221, 221);
    height: 25px;
    width: 50px;
    text-align: center;
    padding: 10px;
}
.links
{
    margin-left: 20px;
    background-color: rgb(221, 221, 221);
    height: 30px;
    width: 520px;
    text-align: right;
    padding: 10px;
}
.links li
{
    display: inline-block;
    align-self: flex-end;
}
.main-area
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.content
{
    background-color: rgb(221, 221, 221);
    height: 250px;
    width: 300px;
    padding: 5px;
}
.sidebar
{
    margin-left: 10px;
    background-color: rgb(221, 221, 221);
    height: 250px;
    width: 300px;
    padding: 5px;
}
.footer
{
    background-color: rgb(221, 221, 221);
    margin-top: 20px;
    height: 20px;
    width: 620px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px; 
}
.design
{
   padding-left: 370px;
}