*
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.grid {
  background-color: #ddd;
  padding: 30px;
  margin: 20px auto;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 10;
  grid-template-rows: 250px ;
  gap: 15px;
}
.grid div
{
  position: relative;
}
.one
{ 
     background-color: rgb(255, 255, 255);
    grid-column: 1/3;
    
}
.two
{
    background-color: rgb(255, 255, 255);
    grid-column: 3/7;
}
.three
{
  background-color: black;
  color: white;
  grid-column: 7/9;
  grid-row: span 3;
}
.four
{
    background-color: rgb(255, 255, 255);
    grid-column: 1/3;
    grid-row: span 2;
}
.five
{
  background-color: black;
  color: white;
  grid-column: 3/7;
}
.six
{
    background-color: rgb(255, 255, 255);
  grid-column: 3/7;
}
.seven
{
    background-color: rgb(255, 255, 255);
  grid-column: 1/3;
}
.eight
{
  background-color: black;
  color: white;
  grid-column: 3/5;
}
.nine
{
    background-color: rgb(255, 255, 255);
    grid-column: 5/7;
}
.ten
{
    background-color: rgb(255, 255, 255);
    grid-column: 7/9;
}
h4
{
  padding-left: 20px;
}
h5
{
    color: rgb(130, 128, 128);
    padding-left: 20px;
    
}
p
{
    padding-left: 20px;
    margin-bottom: 30px;
    
}
.one div
{
    padding-top: 20px;
}
.grid div::before
{
  content: "";
  position: absolute;;
  width: 100%;
  height: 3px;
  background-color: rgb(252, 80, 80);
  left: 0;
  bottom: 0;
}